%nav.col-md-1.d-md-block.bg-dark.sidebar
  .sidebar-sticky.pt-0.border-right
    %ul.nav.flex-column.list-group.list-group-flush.p-3
      = link_to 'Projects', projects_path, class: 'list-group-item list-group-item-action'
    %ul.nav.flex-column.list-group.list-group-flush.p-3
        
