%h2
  Api Users
.clearfix
.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th email
    %tbody
      - @apiusers.each do |apiuser|
        %tr
          %td
            = apiuser.email
.d-flex.justify-content-center.mt-3
  = paginate @apiusers