%h2
  Api Users
.clearfix
.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th email
    %tbody
      - @apiusers.each do |apiuser|
        %tr
          %td
            = apiuser.email
          %td
            .d-flex.justify-content-end
              = link_to 'Edit', edit_api_user_path(apiuser), class: 'btn btn-sm btn-outline-info mr-2'
              = link_to 'Delete', api_user_path(apiuser), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger'
.d-flex.justify-content-center.mt-3
  = paginate @apiusers